DATABASE_URL=postgresql+asyncpg://postgres:[YOUR-PASSWORD]@[YOUR-SUPABASE-HOST]:5432/postgres
GEMINI_API_KEY=your_gemini_api_key_here
FONNTE_TOKEN=your_fonnte_token_here_here
WA_GROUP_PU=your_whatsapp_group_id_for_pu@g.us
WA_GROUP_PDAM=your_whatsapp_group_id_for_pdam@g.us
WA_GROUP_PERHUBUNGAN=your_whatsapp_group_id_for_perhubungan@g.us
WA_GROUP_KEBERSIHAN=your_whatsapp_group_id_for_kebersihan@g.us
WA_GROUP_SOSIAL=your_whatsapp_group_id_for_sosial@g.us
WA_GROUP_KESEHATAN=your_whatsapp_group_id_for_kesehatan@g.us
WA_GROUP_UMUM=your_whatsapp_group_id_for_umum@g.us
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123_change_me
